@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");

*{
  font-family: "Quicksand";
	margin: 0px;
	padding: 0px;
  }
h2{
	font-size: 36px;
}
p{
	font-size: 18px;
}

@media screen and (max-width: 576px) {

	h2 {
		font-size: 22px;
	}
	p{
		font-size: 14px;
	}
} 
.tabs {
	height: 100vh;
	position: relative;
	/* overflow: hidden; */
  }
  
  input[type=radio] {
	position: absolute;
	left: 0;
	width: 24px;
	height: 25%;
	outline: 12px solid;
	outline-offset: -12px;
	margin: 0;
	padding: 0;
	z-index: 1;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	cursor: pointer;
  }
  input[type=radio]:nth-of-type(1) {
	/* outline-color: #f06868; */
	outline-color: black;
	top: 0%;
  }
  input[type=radio]:nth-of-type(2) {
	outline-color:#210438;
	top: 14%;
  }
  input[type=radio]:nth-of-type(3) {
	outline-color:  #edf798;
	top: 28%;
  }
  input[type=radio]:nth-of-type(4) {
	outline-color: #cddc43;
	top: 42%;
  }
  input[type=radio]:nth-of-type(5) {
	outline-color:#96b0a3;
	top: 56%;
  }
  input[type=radio]:nth-of-type(6) {
	outline-color: #d79a48;
	top: 70%;
  }
  input[type=radio]:nth-of-type(7) {
	outline-color: #499263;
	top: 84%;
  }
  input[type=radio]:checked + .content {
	transform: translateX(0%);
	transition: transform 0.4s ease 0.4s;
  }
  
  .content {
	display: flex;
	align-items: center;
	flex-flow: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	transition: transform 0.4s ease;
	transform: translateX(-100%);
	padding: 20px 20px 20px 40px;
  }
  @media screen and (max-width: 576px) {
	.content {
		height: fit-content;
	}
  }
  .content:nth-of-type(1) {
	/* background-color: #f06868; */
	background-color: black;
  }
  .content:nth-of-type(2) {
	background-color: #210438;
  }
  .content:nth-of-type(3) {
	background-color: #edf798; 
  }
  .content:nth-of-type(4) {
	background-color:#cddc43;
  }
  .content:nth-of-type(5) {
	background-color:  #96b0a3
  }
  .content:nth-of-type(6) {
	background-color: #d79a48;
  }
  .content:nth-of-type(7) {
	background-color: #499263;
  }
  .title {
	font-size: 5vw;
	font-weight: bold;
	color: #fff;
  }

  .header {
	padding-top: 25px;
	padding-bottom: 25px;
  }
  .first-column {
	  background: green;
	  color: white;
	  border-width:2px;
	  padding: 10px;
	  border-color:#000;  
	  background: #5851ff;
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	  align-items: center;
  
  }
  
  .im{
	/* box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.548); */
	transition: box-shadow .3s;
	padding: 10px;
	color: white;
  }
  .im:hover {
	box-shadow: 0 6px 26px 6px rgba(255, 255, 255, 0.2); 
  }

  img{
	  border-radius: 20px;
	  width:300px;
	  height: 400px;
  }
  .land{
	width:400px;
	height: 300px;
  }
  @media screen and (max-width: 576px) {
	img{
		width:200px;
		height: 280px;
	}
	.land{
		width:260px;
		height: 200px;
	  }
  }