*{
  margin: 0px;
  padding: 0px;
}
body{
  color: white;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.966),rgb(155, 7, 7),rgb(3, 3, 3),rgb(67, 8, 85),#000);
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Meow+Script&display=swap');
.text-center{
  text-align: center;
}
header {
    color:blanchedalmond;
    position: relative;
    background-color: black;
    height: 99vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  header .heading{
    font-family: 'Meow Script', cursive;
    font-size: 66px;
  }
  header .heading2{
    font-family: 'Lobster', cursive;
    font-size: 24px;
  }
  
  header video {
      
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

  /* navbar styling */
.logo{
  /* position:fixed; */
  float: left;
  margin:16px 36px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.nav{
  position: fixed;
  width: 100%;
}
.nav ul{
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  color: white;
  text-align: right;
  margin:0;
  padding: 0;
  transition: 1s;
}
.nav .black ul{
  background-color: black;
}
.nav ul li{
  display: inline-block;
  padding: 20px;
}
.nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

/* Testimonial ================================ */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.testimoni{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background-color: #33d1a0;
}

.testi-container{
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.testi-container .box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 420px;
  margin: 20px;
  background: #121e27;
}

.testi-container .box .content{
  padding: 30px;
  text-align: center;
}

.testi-container .box .content .quote{
  max-width: 48px;
}

.testi-container .box .content p{
  font-size: 14px;
  color: #fff;
  padding: 20px 0;
}

.testi-container .box .content .user{
  max-width: 72px;
  border-radius: 50%;
}

.testi-container .box .content h3{
  color: #33d1a0;
  text-transform:uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

@media (max-width: 1050px){
  .testi-container{
    justify-content: center;
  }
}

@media (max-width: 768px){
  .testi-container .box{
    width: 100%;
    padding: 30px 20px;
    height: auto;
  }
}