*{
	margin: 0px;
	padding: 0px;
  }
.tabs {
	height: 100vh;
	position: relative;
	overflow: hidden;
  }
  
  input[type=radio] {
	position: absolute;
	left: 0;
	width: 24px;
	height: 25%;
	outline: 12px solid;
	outline-offset: -12px;
	margin: 0;
	padding: 0;
	z-index: 1;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	cursor: pointer;
  }
  input[type=radio]:nth-of-type(1) {
	outline-color: #f06868;
	top: 0%;
  }
  input[type=radio]:nth-of-type(2) {
	outline-color: #fab57a;
	top: 25%;
  }
  input[type=radio]:nth-of-type(3) {
	outline-color: #edf798;
	top: 50%;
  }
  input[type=radio]:nth-of-type(4) {
	outline-color: #80d6ff;
	top: 75%;
  }
  input[type=radio]:checked + .content {
	transform: translateX(0%);
	transition: transform 0.4s ease 0.4s;
  }
  
  .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.4s ease;
	transform: translateX(-100%);
  }
  .content:nth-of-type(1) {
	background-color: #f06868;
  }
  .content:nth-of-type(2) {
	background-color: #fab57a;
  }
  .content:nth-of-type(3) {
	background-color: #edf798;
  }
  .content:nth-of-type(4) {
	background-color: #80d6ff;
  }
  
  .title {
	font-size: 5vw;
	font-weight: bold;
	color: #fff;
  }